@import url('https://fonts.googleapis.com/css2?family=Europa:wght@400;700&display=swap');

body {
    font-family: 'Andale Mono', monospace;
    line-height: 1.6;
    margin: 0;
    padding: 0; /* Remove padding to avoid white margins */
    background-color: #0b2545; /* Dark background color */
    color: #eef4ed; /* Light text color */
}
.navbar {
    position: fixed;
    top: 0;
    left: 0; /* Ensure the navbar starts from the left edge */
    width: 100%;
    z-index: 1000;
    background-color: transparent; /* Make the navbar transparent */
    border-bottom: none; /* Remove border */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition for color change */
}
.navbar.scrolled {
    background-color: #fff; /* Change navbar background to white when scrolled */
}
.navbar-brand, .nav-link {
    color: #eef4ed !important; /* Navbar text color */
}
.navbar.scrolled .navbar-brand, .navbar.scrolled .nav-link {
    color: #0b2545 !important; /* Navbar text color when scrolled */
}
.nav-link:hover {
    color: #8da9c4 !important; /* Navbar link hover color */
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    background: #134074; /* Dark container background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding-top: 80px; /* Add padding to avoid content being hidden behind the fixed navbar */
}
.section-title {
    margin-bottom: 30px;
    color: #eef4ed;
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #eef4ed;
    padding-bottom: 15px;
}   

.section-content {
    background: #13315c; /* Slightly different dark container background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: #eef4ed;
}

.skills, .projects {
    margin: 20px 0;
}

.project-logo {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto 10px;
}
.project {
    text-align: center;
    margin-bottom: 20px;
}

.about-text {
    padding-right: 20px;
}
.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.contact-section {
    background: url('images/about-background.png') no-repeat center center/cover;
    color: #fff;
    padding: 20px 0;
    border-radius: 0;
    margin-top: 0;
    opacity: 1; /* Default to visible */
    transform: translateY(0); /* Reset translation */
    transition: none; /* Remove animations if not needed */
    min-height: 70vh; /* Smaller height */
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-section.scrolled {
    opacity: 1;
    transform: translateY(0);
}

.contact-item {
    flex: 2; /* Take more space for the contact information */
    text-align: left; /* Align text to the left */
    margin-right: 30px; /* Increase space between contact information and form */
}

.contact-item p {
    margin: 0;
    padding: 10px 0;
    display: flex;
    align-items: center; /* Align icon and text on the same line */
    font-size: 1.5rem; /* Increase font size */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.contact-item p i {
    margin-right: 10px; /* Space between icon and text */
}

.contact-section p {
    margin: 0;
    padding: 10px 0;
}

.contact-section p, .contact-section a {
    color: #fff; /* Ensure text color is white */
}

.contact-section form {
    flex: 1; /* Take less space for the form */
    margin-top: 20px; /* Add space between form and contact information */
}

button {
    border: none;
    display: flex;
    padding: 0.75rem 1.5rem;
    background-color: #488aec;
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    gap: 0.75rem;
    box-shadow:
        0 4px 6px -1px #488aec31,
        0 2px 4px -1px #488aec17;
    transition: all 0.6s ease;
}

button:hover {
    box-shadow:
        0 10px 15px -3px #488aec4f,
        0 4px 6px -2px #488aec17;
}

button:focus,
button:active {
    opacity: 0.85;
    box-shadow: none;
}

button svg {
    width: 1.25rem;
    height: 1.25rem;
}

.button {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    color: #f4f0ff;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.button::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    background: linear-gradient(
        180deg,
        rgba(8, 77, 126, 0) 0%,
        rgba(8, 77, 126, 0.42) 100%
    ),
    rgba(47, 255, 255, 0.24);
    box-shadow: inset 0 0 12px rgba(151, 200, 255, 0.44);
    z-index: -1;
}

.button::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        180deg,
        rgba(8, 77, 126, 0) 0%,
        rgba(8, 77, 126, 0.42) 100%
    ),
    rgba(47, 255, 255, 0.24);
    box-shadow: inset 0 0 12px rgba(151, 200, 255, 0.44);
    border-radius: 0.5rem;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease-in;
}

.button:hover::after {
    opacity: 1;
}

.button-border {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    z-index: -1;
}

.button-border::before {
    content: "";
    position: absolute;
    border-radius: 0.5rem;
    padding: 1px;
    inset: 0;
    background: linear-gradient(
        180deg,
        rgba(184, 238, 255, 0.24) 0%,
        rgba(184, 238, 255, 0) 100%
    ),
    linear-gradient(0deg, rgba(184, 238, 255, 0.32), rgba(184, 238, 255, 0.32));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    pointer-events: none;
}

.about-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('images/about-background.png') no-repeat center center/cover;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0; /* Remove margins to avoid white spaces */
}

.about-section .container {
    height: 100%;
}

.about-section .row {
    height: 100%;
}

.about-section .col-md-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.skills-section {
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0; /* Slightly off-white background */
    color: #0b2545; /* Dark text color */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.skills-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px; /* Reduce gap for better spacing */
    justify-items: center;
    align-items: center;
}

.skills-group {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills-icons {
    display: flex;
    justify-content: center;
    gap: 10px; /* Reduce gap for better spacing */
    width: 100%;
    align-items: center;
    justify-content: center;
}

.skill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100px; /* Minimum width */
    min-height: 100px; /* Minimum height */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    flex-grow: 1; /* Allow the container to grow */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.skill-container:hover {
    transform: translateY(-10px); /* Move up on hover */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

.skill-logo {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.skills-section .row {
    width: 100%;
    height: 50%;
}

.skills-section .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.projects-section {
    width: 100%;
    height: 100vh;
    background: url('images/projects-background.png') no-repeat center center/cover; /* Background image */
    color: #0b2545; /* Dark text color */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.card {
    background-color: #f8f9fa; /* Softer white color */
    width: 300px; /* Set a fixed width for the card */
    height: 400px; /* Set a fixed height for the card */
    margin: 0 auto; /* Center the card */
    display: flex;
    flex-direction: column;
}

.card-header {
    flex: 1; /* Ensure the header takes up half the card height */
    overflow: hidden; /* Hide overflow */
}

.card-header img {
    width: 100%; /* Ensure the image fills the upper part of the card */
    height: 100%; /* Ensure the image fills the header */
    object-fit: cover; /* Ensure the image covers the area */
}

.card-body {
    flex: 1; /* Ensure the body takes up half the card height */
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-text {
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.skills-icons img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

/* Ensure the text font size in the Skills section matches the Projects section */
.skills-group h3, .skills-group p {
    font-size: 1.2rem; /* Match the font size */
}

/* Adjust the title "My Skills" to be a little bit lower */
.skills-section .section-title {
    margin-top: 20px; /* Add margin to lower the title */
}

.scroll-element {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scroll-element.scrolled {
    opacity: 1;
    transform: translateY(0);
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0b2545;
    color: #eef4ed;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.back-to-top.visible {
    opacity: 1;
    visibility: visible;
}